@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Concert+One&family=Josefin+Sans:wght@700&display=swap');
:root{
    --primary: #A94DC1;
    --light: #ffffff;
    --dark: #434343;
    --violat: #8B5CF6;
    --secondary: #D1D5DB;
    --sh: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    --bgone: #f5f8fc;
    --backone: #191c26;
    --backtwo: #111319;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shippori Antique B1', 'Padauk';
}

body{
   
}

html{
    scroll-behavior: smooth;
}

.bold-font{
    font-family: 'Concert One', cursive;
}

.vid-text{
    font-family: 'Josefin Sans', sans-serif;
    color: var(--violat);
}

.aboutme{
    background-image: url("../img/svg/bg-3.svg");
}

.about-img{
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--sh);
    transition: 0.5s;
}

.about-img:hover{
    transform: translateY(-10px);
    box-shadow: var(--sh);
    filter: grayscale(100%);
}

.profile{   
    /* background-image: url('../img/wallpaper/6.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2000;
    
    background-image: url("../img/svg/bg-3.svg");
}

.profile::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    /* background-color: var(--backtwo); */
    opacity: 0.5;
    z-index: -1;
}

.profile-card{
    background-color:var(--backone);
    color: var(--dark);
    width: 100%;
    height: 90%;
}

.profile-img{
    width:250px;
    height: auto;
    border:1px solid var(--secondary);
    transition: 0.5s;
}

.profile-img:hover{
    transform: translateY(-10px);
    box-shadow: var(--sh);
    filter: grayscale(100%);
}

.profile-text{
    margin-top: 300px;
}

.profile-text span{
    font-family: 'Lobster Two', cursive;
}


.profile-icon a{
    color: var(--light);
}

.profile-icon div{
    transition: 0.2s;
}

.profile-icon div:hover{
    transform: scale(1.5);
}

/* Skill */
.skill-text{
    font-family: 'Lobster Two', cursive;    
}

.skill{
    background-image: url("../img/svg/bg-3.svg");
}

.skill-card{
    border-radius: 0 !important;
    border-color: var(--secondary);
    transition: 0.5s;
    border-radius: 10px !important;
    
}

.skill-card:hover{
    transform: translateY(-10px);
    box-shadow: var(--sh);
}

.project-card{
    border-radius: 10px !important;
    margin: 10px !important;
}

.project-img{
    height: 300px;
    width: auto;
}

.modal-content{
    background-color: var(--backtwo);
}

.modal-dialog {
    max-width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme{
  
}

.aboutmore-card{
    width: 100%;
    cursor:pointer;
    transition: 0.5s;
    border-radius: 10px;

}

.aboutmore-card:hover{
    transform: translateY(-10px);
    background-color:var(--secondary);
}

.aboutmore-card:active{
    transform: rotate(-5deg);
}

.aboutmoretable{
    border-color: var(--backtwo) !important;
}

.service-card{
    width: 60%;
    height: 300px;
    border-radius: 10px;
    transition: 0.5s;
}

.service-card:hover{
    background-color: var(--secondary);   
    transform:scale(0.9)
}

.blog-se{
    border: 1px solid var(--dark);
    padding: 5px;
    margin-bottom: 5px;
}

.blog-line{
    width: 1px;
    background-color: #434343;
}

.blog-date{
    padding: 10px;
    background-color: var(--dark);
    margin-top: 50%;
}

.blog-img{
    transition: 0.5s;
}

.blog-img img{
    width: 100%;
}

.blog-img:hover{
    transform: translateY(-10px);
    filter:grayscale(100%);
}

.alternate{
    animation-direction: alternate;
}

.contact-input{
    border-radius: 0 !important;
    border-top: none;
    border-left: none;
    border-right: none;
}

.contact-input:focus{
    border-color: black;
    box-shadow: none !important;
}

.contact-ta{
    border-radius: 0 !important;
    
}
.contact-ta:focus{
    border-color: black;
    box-shadow: none !important;
}

.contact-info{
    background-color: var(--dark);
    color: var(--light);
}


.contact-item{
    margin-top: 10px;
}

.contact-item a{
    padding: 5px;
    margin: 10px;
    color: white;
}

.contact-list{
    transition: 0.2s;
}

.contact-list:hover{
    transform: rotate(10deg);
}

.contact-text{
    margin-top: 10px;
}

.album-card{

    border-radius: 10px;
    margin: 20px !important;
}

.album-img{
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position:center;
    transition: 0.5s;
}

.album-img:hover{
    transform:translateY(-10px);
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.teacher-list{
    padding: 10px;
    text-decoration: none;
}

.teacher-list a {
    color: var(--dark); 
}

.teacher-list div{
    transition: 0.5s;
}

.teacher-list div:hover{
    transform:translateY(-10px);
}

.offcanvas{
    z-index: 3000;
    width: 200px;
}

.offcanvas-text{
    margin-left: 10px;
}

.offcanvas-text a{
    color: var(--backone);
    text-decoration: none;
    font-size: 25px;
    font-family: 'Concert One', cursive;
}


.offcanvasopen{
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color:var(--backone);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
    border-radius: 10px;
    box-shadow: var(--sh);
    position: fixed;
}

.offcanvasopen:active{
    transform: scale(0.9);
}

.offcanvas-list{
    text-decoration: none;
}

.offcanvas-list svg{
    width: 50px;
}

.offcanvas-list div{
    color: var(--backone);
    margin: 10px;
}

.offcanvas-list div:hover{
    background-color: var(--secondary);
    border-radius: 10px;
}

.offcanvas-text{
    width: 100%;
}

@media screen and (max-width:480px) {
    .profile-img{
        width: 200px;
        height: auto;
    }

    .profile-text{
        width: 100% !important;
        margin-top: 0px;
    }
    
    .skill{
    margin-top: 350px;
    }

    .modal-dialog {
        max-width: 100%;
        margin-top:170px;
    }

    .service-card{
        width: 100%;
    }
    .blog-date{
        width: 100% !important;
    }
}

@media screen and (max-width:780px) {

    .profile-text{
        margin-top: 0px;
    }

    .about-img{
        width: 100%;
        height: 100%;
    }

    .service-card{
        width: 100%;
    }

    .blog-date{
        width: 100% !important;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
}